@inherits LayoutComponentBase

<PageTitle>Contoso Chatbot</PageTitle>

<!--
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
-->
<div class="h-100 d-flex flex-row">
    @Body
</div>
